.box {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  flex-direction: row;
  position: relative;
  .share-box {
    width: 304px;
    height: 312px;
    background: #ffffff;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 30px;
    margin-left: 30px;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    .share {
      width: 100%;
      height: 40px;
      display: flex;
      flex-direction: row;
      align-items: center;
      span {
        height: 14px;
        font-size: 14px;
        margin-right: 30px;
        font-weight: 400;
        color: #666666;
        line-height: 14px;
      }
      a {
        cursor: pointer;
        width: 40px;
        height: 40px;
        &.qq {
          margin-right: 26px;
        }
        &.wechat {
          margin-right: 26px;
        }
      }
    }
    .active-vote-button {
      margin-top: 50px;
      margin-bottom: 30px;
      width: 244px;
      height: 56px;
      border-radius: 8px;
      border: 1px solid #3ca7fa;
      cursor: pointer;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      img {
        margin-right: 30px;
      }
      span {
        font-size: 16px;
        font-weight: 600;
        color: #3ca7fa;
        line-height: 16px;
      }
    }

    .vote-button {
      margin-top: 50px;
      margin-bottom: 30px;
      width: 244px;
      height: 56px;
      border-radius: 8px;
      border: 1px solid #cccccc;
      cursor: pointer;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      img {
        margin-right: 30px;
      }
      span {
        font-size: 16px;
        font-weight: 400;
        color: #666666;
        line-height: 16px;
      }
    }

    .active-like-button {
      margin-top: 50px;
      margin-bottom: 30px;
      width: 244px;
      height: 56px;
      border-radius: 8px;
      border: 1px solid #e1a500;
      cursor: pointer;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      img {
        margin-right: 30px;
      }
      span {
        font-size: 16px;
        font-weight: 600;
        color: #e1a500;
        line-height: 16px;
      }
    }

    .like-button {
      margin-top: 50px;
      margin-bottom: 30px;
      width: 244px;
      height: 56px;
      border-radius: 8px;
      border: 1px solid #cccccc;
      cursor: pointer;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      img {
        margin-right: 30px;
      }
      span {
        font-size: 16px;
        font-weight: 400;
        color: #666666;
        line-height: 16px;
      }
    }
  }

  .topic-box {
    width: 866px;
    float: left;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;

    .topic {
      width: 100%;
      height: auto;
      background: #ffffff;
      border-radius: 8px;
      display: flex;
      box-sizing: border-box;
      flex-direction: column;
      padding: 30px;
      .topic-title {
        width: 100%;
        height: auto;
        font-size: 30px;
        font-weight: 600;
        color: #333333;
        line-height: 48px;
        margin-bottom: 10px;
        text-align: left;
      }
      .topic-stat {
        width: 100%;
        display: flex;
        float: left;
        flex-direction: row;
        align-items: center;
        .div-times {
          height: 14px;
          font-size: 14px;
          font-weight: 400;
          color: #666666;
          line-height: 14px;
          margin-right: 30px;
        }
      }
      .line {
        width: 100%;
        height: 1px;
        background: #e5e5e5;
        margin: 30px 0px;
      }
      .topic-content {
        width: 100%;
        position: relative;
        .buttons {
          width: 100%;
          height: 83px;
          background: linear-gradient(
            180deg,
            rgba(255, 255, 255, 0.5) 0%,
            #ffffff 62%,
            #ffffff 100%
          );
          display: flex;
          justify-content: center;
          position: absolute;
          bottom: 0;
          z-index: 10;
          box-sizing: border-box;
          padding-top: 22px;
          .login-button {
            color: #3ca7fa;
            cursor: pointer;
            &:hover {
              opacity: 0.8;
            }
          }

          .vip-buy-button {
            width: 146px;
            height: 56px;
            background: #e1a500;
            border-radius: 4px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 16px;
            font-weight: 400;
            color: #ffffff;
            margin-right: 30px;
            cursor: pointer;
            &:hover {
              opacity: 0.8;
            }
          }
          .buy-button {
            width: auto;
            height: 56px;
            padding: 20px;
            box-sizing: border-box;
            background: #ff4d4f;
            border-radius: 4px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 16px;
            font-weight: 400;
            color: #ffffff;
            margin-right: 30px;
            cursor: pointer;
            &:hover {
              opacity: 0.8;
            }
          }
        }
      }
    }
    .comments-box {
      width: 100%;
      height: auto;
      background: #ffffff;
      border-radius: 8px;
      display: flex;
      box-sizing: border-box;
      flex-direction: column;
      margin-top: 50px;
      padding: 30px;
      .comment-divider {
        width: 100%;
        height: 18px;
        font-size: 18px;
        font-weight: 600;
        color: #333333;
        line-height: 18px;
        text-align: left;
      }
      .line {
        width: 100%;
        height: 1px;
        background: #e5e5e5;
        margin: 30px 0px;
      }
      .reply-box {
        width: 100%;
        height: 48px;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 50px;
        .avatar {
          width: 48px;
          height: 48px;
          border-radius: 50%;
          margin-right: 30px;
          overflow: hidden;
          img {
            width: 48px;
            height: 48px;
            border-radius: 50%;
          }
        }

        .input-box {
          width: 626px;
          height: 48px;
          border-radius: 4px;
          border: 1px solid #cccccc;
          padding-left: 15px;
          outline: none;
          margin-right: 30px;
        }
        .disabled-button {
          width: 72px;
          height: 48px;
          background: #cccccc;
          border-radius: 4px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #fff;
          font-size: 16px;
          cursor: pointer;
          font-weight: 400;
          &:hover {
            opacity: 0.8;
          }
        }
        .confirm-button {
          width: 72px;
          height: 48px;
          background: #3ca7fa;
          border-radius: 4px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #fff;
          font-size: 16px;
          cursor: pointer;
          font-weight: 400;
          &:hover {
            opacity: 0.8;
          }
        }
      }
      .comments-list-box {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        .comment-item {
          width: 100%;
          height: auto;
          float: left;
          display: flex;
          flex-direction: row;
          margin-top: 50px;
          &:first-child {
            margin-top: 0px;
          }
          .avatar {
            width: 48px;
            height: 48px;
            background: #d8d8d8;
            margin-right: 30px;
            border-radius: 50%;
            img {
              width: 48px;
              height: 48px;
              border-radius: 50%;
            }
          }
          .comment-content {
            width: 728px;
            display: flex;
            flex-direction: column;
            .top-info {
              width: 100%;
              height: 14px;
              display: flex;
              align-items: center;
              flex-direction: row;
              margin-bottom: 15px;
              .nickname {
                height: 14px;
                font-size: 14px;
                font-weight: 400;
                color: #666666;
                line-height: 14px;
                margin-right: 15px;
              }
              .diff {
                height: 12px;
                font-size: 12px;
                font-weight: 400;
                color: #666666;
                line-height: 12px;
              }
            }
          }
          .text {
            width: 728px;
            float: left;
            font-size: 14px;
            font-weight: 400;
            color: #333333;
            line-height: 20px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
          }
          .reply-answer-box {
            width: 728px;
            display: flex;
            flex-direction: row;

            .reply-trans-answer {
              margin-top: 15px;
              font-size: 14px;
              font-weight: 400;
              color: #3ca7fa;
              cursor: pointer;
              margin-right: 30px;
            }
            .reply-answer {
              margin-top: 15px;
              font-size: 14px;
              font-weight: 400;
              color: #999999;
              cursor: pointer;
              margin-right: 30px;
            }
          }
          .one-class-replybox {
            width: 728px;
            height: 48px;
            margin-top: 10px;
            display: flex;
            flex-direction: row;
            align-items: center;
            .input-box {
              width: 614px;
              height: 48px;
              border-radius: 4px;
              border: 1px solid #cccccc;
              padding-left: 15px;
              outline: none;
              margin-right: 10px;
            }
            .confirm-button {
              width: 104px;
              height: 48px;
              background: #3ca7fa;
              border-radius: 4px;
              display: flex;
              align-items: center;
              justify-content: center;
              color: #fff;
              font-size: 16px;
              cursor: pointer;
              font-weight: 400;
              &:hover {
                opacity: 0.8;
              }
            }
            .disabled-button {
              width: 104px;
              height: 48px;
              background: #cccccc;
              border-radius: 4px;
              display: flex;
              align-items: center;
              justify-content: center;
              color: #fff;
              font-size: 16px;
              cursor: pointer;
              font-weight: 400;
              &:hover {
                opacity: 0.8;
              }
            }
          }
          .reply-list-box {
            width: 728px;
            height: auto;
            background: #f4fafe;
            box-sizing: border-box;
            margin-top: 15px;
            padding: 0px 20px 20px 20px;
            display: flex;
            flex-direction: column;
            .reply-list-item {
              position: relative;
              width: 100%;
              height: auto;
              float: left;
              display: flex;
              flex-direction: row;
              margin-top: 30px;
              .reply-avatar {
                width: 48px;
                height: 48px;
                background: #d8d8d8;
                margin-right: 30px;
                border-radius: 50%;
                img {
                  width: 48px;
                  height: 48px;
                  border-radius: 50%;
                }
              }
              .reply-content {
                width: 610px;
                display: flex;
                flex-direction: column;
                position: relative;
                .top-info {
                  width: 100%;
                  height: 14px;
                  display: flex;
                  align-items: center;
                  flex-direction: row;
                  margin-bottom: 15px;
                  .reply-nickname {
                    height: 14px;
                    font-size: 14px;
                    font-weight: 400;
                    color: #666666;
                    line-height: 14px;
                    margin-right: 15px;
                    text-align: left;
                  }
                  .red-reply-nickname {
                    height: 14px;
                    font-size: 14px;
                    font-weight: 400;
                    color: #ff5858;
                    line-height: 14px;
                    margin-right: 15px;
                    text-align: left;
                  }
                  .reply-diff {
                    height: 12px;
                    font-size: 12px;
                    font-weight: 400;
                    color: #666666;
                    line-height: 12px;
                  }
                }
              }
              .reply-text {
                width: 610px;
                float: left;
                font-size: 14px;
                font-weight: 400;
                color: #333333;
                line-height: 14px;
                text-align: left;
              }
              .answer-item {
                margin-top: 15px;
                width: 610px;
                font-size: 14px;
                font-weight: 400;
                color: #999999;
                cursor: pointer;
                text-align: left;
              }
              .Two-class-replybox {
                width: 610px;
                height: 48px;
                margin-top: 20px;
                display: flex;
                flex-direction: row;
                align-items: center;
                .input-box {
                  width: 491px;
                  height: 48px;
                  border-radius: 4px;
                  border: 1px solid #cccccc;
                  padding-left: 15px;
                  outline: none;
                  margin-right: 10px;
                }
                .disabled-button {
                  width: 104px;
                  height: 48px;
                  background: #cccccc;
                  border-radius: 4px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  color: #fff;
                  font-size: 16px;
                  cursor: pointer;
                  font-weight: 400;
                }
                .confirm-button {
                  width: 104px;
                  height: 48px;
                  background: #3ca7fa;
                  border-radius: 4px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  color: #fff;
                  font-size: 16px;
                  cursor: pointer;
                  font-weight: 400;
                }
              }
            }
          }
        }
        #page {
          width: 100%;
          margin: 0 auto;
          margin-top: 50px;
          display: flex;
          flex-direction: row;
          justify-content: center;
        }
      }
    }
  }
}
