.container {
  width: 1200px;
  margin: 0 auto;
  display: block;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  padding-top: 30px;
  .left-contanier {
    width: 769px;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    margin-right: 30px;
  }

  .right-contanier {
    width: 400px;
    position: relative;
    .right-list {
      display: inline-block;
      width: 400px;
      height: auto;
      background: #ffffff;
      border-radius: 8px;
      padding: 30px;
      box-sizing: border-box;
      position: -webkit-sticky; /* Safari */
      position: sticky;
      top: 0;
      .tit {
        width: 100%;
        height: 18px;
        font-size: 18px;
        font-weight: 600;
        color: #333333;
        line-height: 18px;
        margin-bottom: 30px;
        text-align: left;
      }
      .right-box {
        width: 100%;
        display: flex;
        flex-direction: column;
        .topic-item {
          width: 100%;
          margin-bottom: 30px;
          &:last-child {
            margin-bottom: 0px;
          }
          .topic-item-comp {
            width: 100%;
            height: 100px;
            float: left;
            background: #ffffff;
            border-radius: 8px;
            display: flex;
            cursor: pointer;
            box-sizing: border-box;
            &:hover {
              .topic-thumb {
                .thumb-bar {
                  transform: scale(1.1, 1.1);
                }
              }
            }

            .topic-body {
              flex: 1;
              box-sizing: border-box;
              padding-top: 15px;

              .topic-title {
                width: 187px;
                height: auto;
                float: left;
                margin-bottom: 28px;
                font-size: 18px;
                font-weight: 600;
                color: #333333;
                line-height: 18px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                text-align: left;
              }

              .topic-info {
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: row;
                align-items: center;
                text-align: left;
                .category {
                  padding: 5px 8px;
                  background: rgba(255, 80, 104, 0.1);
                  border-radius: 12px;
                  font-size: 14px;
                  font-weight: 400;
                  color: #ff4d4f;
                  line-height: 14px;
                  margin-right: 30px;
                }
                .read-count {
                  height: 14px;
                  font-size: 14px;
                  font-weight: 400;
                  color: #666666;
                  line-height: 14px;
                }
              }
            }

            .topic-thumb {
              width: 133px;
              height: 100px;
              border-radius: 8px;
              overflow: hidden;
              margin-right: 20px;
              .thumb-bar {
                width: 100%;
                height: 100%;
                transition: all 0.3s;
              }
            }
          }
        }
      }
    }
  }
}
