.contanier {
  width: 1200px;
  min-height: 500px;
  margin: 0 auto;
  overflow: hidden;
  display: block;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  .qa-box {
    width: 769px;
    display: flex;
    flex-direction: column;
    margin-right: 30px;
  }
  .right-contanier {
    width: 400px;
    height: auto;
    float: left;
    box-sizing: border-box;
    .cont {
      width: 400px;
      height: auto;
      background: #ffffff;
      border-radius: 8px;
      padding: 30px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      text-align: left;
      .create-button {
        width: 100%;
        height: 56px;
        background: #3ca7fa;
        border-radius: 4px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        font-weight: 400;
        color: #ffffff;
        &:hover {
          opacity: 0.8;
        }
      }
      .wenda-tips {
        margin-top: 30px;
      }
    }
  }
}
