.index-section-box {
  width: 100%;
  margin-top: 40px;
}
.index-section-title {
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
  .index-section-title-text {
    height: 30px;
    font-size: 30px;
    font-weight: 600;
    color: #333333;
    line-height: 30px;
  }
}
.index-section-body {
  width: 100%;
  display: grid;
  row-gap: 30px;
  column-gap: 48px;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  padding-bottom: 40px;

  .tg-course-item {
    width: 100%;
    height: auto;
    display: flex;
    cursor: pointer;
    border-radius: 8px;
    flex-direction: column;
    background-color: #fff;
    &:hover {
      .tg-course-thumb {
        .thumb-bar {
          transform: scale(1.1, 1.1);
        }
      }
    }
    .tg-course-thumb {
      width: 264px;
      height: 198px;
      border-radius: 8px 8px 0px 0px;
      overflow: hidden;

      .thumb-bar {
        transition: all 0.3s;
      }
    }

    .tg-course-body {
      box-sizing: border-box;
      width: 100%;
      height: auto;
      background-color: #fff;
      border-radius: 0px 0px 8px 8px;
      padding: 15px 10px 15px 10px;
      position: relative;

      .tg-course-title {
        width: 100%;
        height: 20px;
        float: left;
        font-size: 16px;
        font-weight: 600;
        color: #333333;
        line-height: 20px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin-bottom: 15px;
        text-align: left;
      }

      .tg-course-info {
        width: 100%;
        float: left;
        display: flex;
        flex-direction: column;

        .tg-course-charge {
          height: 20px;
          font-size: 20px;
          line-height: 20px;
          font-weight: 600;
          text-align: left;

          .charge-text {
            color: #ff5858;

            .unit {
              font-size: 14px;
            }
          }

          .free-text {
            font-size: 14px;
            color: #04c877;
          }
        }
        .original_charge {
          margin-top: 10px;
          height: 14px;
          font-size: 14px;
          font-weight: 400;
          color: #999999;
          line-height: 14px;
          text-decoration: line-through;
          text-align: left;
        }
      }
      .over-progress {
        position: absolute;
        right: 10px;
        bottom: 15px;
        width: 137px;
        height: 48px;
        background: linear-gradient(90deg, #ff2276 0%, #ff897c 100%);
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        font-weight: 600;
        color: #ffffff;
        line-height: 16px;
        opacity: 0.5;
      }
      .tg-progress {
        position: absolute;
        right: 10px;
        bottom: 15px;
        width: 137px;
        height: 48px;
        background: linear-gradient(90deg, #ff2276 0%, #ff897c 100%);
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        .label {
          width: 100%;
          height: 16px;
          font-size: 16px;
          font-weight: 600;
          color: #ffffff;
          line-height: 16px;
          text-align: center;
          margin-top: 10px;
          margin-bottom: 6px;
        }
        .progress-text {
          width: 100%;
          height: 12px;
          font-size: 12px;
          font-weight: 400;
          color: #ffffff;
          line-height: 12px;
          box-sizing: border-box;
          text-align: center;
        }
      }
    }
  }
}
